{% load static %}
<div class="review">
    <div class="review_header">
        <div class="review_title_rating">
        <h2 class="review_title">{{ data.headline|capfirst }}</h2>
        <div class="review_rating">
            <div class="starability-result" data-rating={{ review.rating }}>Rated: {{ review.rating }} stars</div>
        </div>
        </div>
        <div class="content_menu">
        <p class="ticket_date">Review:{{ review.user|capfirst }} le {{ review.time_created }}</p>
         {% if request.get_full_path == "/posts/" %}
            <div class="ticket_button_modify">
             <button type="button" class="btn small" onclick=self.location.href="{% url 'review-update' review.id %}">
                 <span class="fa fa-pencil"></span>
             </button>
             <button type="button" class="btn small red" onclick=self.location.href="{% url 'review-delete' review.id %}">
                 <span class="fa fa-trash"></span>
             </button>
             </div>
        {% endif %}
        </div>
    </div>
    <p class="review_text">{{ review.body }}</p>
</div>


