{% load static %}
{% load myfilters %}
<div class="ticket">
    <div class="ticket_header">
        <h1 class="ticket_title">-Ticket:&ensp;{{ ticket.title|capfirst }}</h1>
        <div class="content_menu">
        <p class="ticket_date">{{ ticket.user|capfirst }} le {{ ticket.time_created }}</p>
         {% if request.get_full_path == "/posts/" %}
            <div class="ticket_button_modify">
             <button type="button" class="btn small" onclick=self.location.href="{% url 'ticket-update' ticket.id %}">
                 <span class="fa fa-pencil"></span>
             </button>
             <button type="button" class="btn small red" onclick=self.location.href="{% url 'ticket-delete' ticket.id %}">
                 <span class="fa fa-trash"></span>
             </button>
             </div>
        {% endif %}
        </div>
    </div>
    <div class="ticket_main">
        <img class="ticket_img" alt="lit" src="{{ ticket.image.url }}">
        <div class="ticket_text">
            {{ ticket.description }}
            {% if request.get_full_path == "/flux/" %}
                <div class ='ticket_button'>
                    {% if ticket.has_review == False %}
                        <button class="btn" onclick=self.location.href="{% url 'review' ticket.id %}">Critique</button>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>

