{% extends 'base_navbar.html' %}
{% load static %}
{% block title %}Abonnements{% endblock title %}
{% block content %}
    <h1 class="block_title">Abonnements</h1>
    <div class="follow">

        <form class="follow_form" action="{% url 'follow' %}" method="post"> {% csrf_token %}
            <div>
                <label>
                    <input type="text" name="following" placeholder="Nom d'utilisateur">
                </label>
                <button class="btn" type="submit">Envoyer</button>
            </div>
        </form>
    {% include 'blog/includes/messages.html' %}
    <div class="follow_content">
     <h2 class="follow_title">Mes Abonnements</h2>
        {% if following %}
            {% for user in following %}
                <div class="follow_user">
                <div class="follow_username">{{ user.followed_user.username|capfirst }}</div>
                     <button type="button" class="btn small red" onclick=self.location.href="{% url 'delete-follow' user.followed_user.id %}">
                         <span class="fa fa-trash"></span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="follow_content">
        <h2 class="follow_title">Mes Abonnés</h2>
        {% if followers %}
            {% for user in followers %}
                <div class="follow_user">
                    {{ user.user.username|capfirst }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    </div>
{% endblock content %}