{% extends 'base_navbar.html' %}
{% load myfilters %}
{% block title %} Posts {% endblock %}
{% block content %}
<h1 class="block_title">Posts</h1>
        {% for data in tickets_user_reviews_user %}
            {% if data|type == 'Review' %}
                 <div class="review_ticket">
                 {% include 'blog/includes/review_snippet.html' with review=data %}
            {% else %}
                {% include 'blog/includes/ticket_snippet.html' with ticket=data %}
                 </div>
            {% endif %}
        {% endfor %}
{% endblock content %}
