{% extends 'base_navbar.html' %}
{% load myfilters %}
{% block title %} Posts {% endblock %}
{% block content %}
<h1 class="block_title">Posts</h1>
    {% if tickets_user_reviews_user  %}
        {% for data in tickets_user_reviews_user %}
            {% if data|obj_type == 'Ticket' %}
                {% include 'blog/includes/ticket_snippet.html' with ticket=data %}
            {% elif data|obj_type == 'Review'%}
                {% include 'blog/includes/review_snippet.html' with review=data %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock content %}
